body{
    margin: 0;
    padding: 0;
    background-image: url("images/background.png");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.login{
    width: 320px;
    height: 420px;
    background-color: #000;
    border-radius: 3px;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
       }

.avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: calc(50% - 50px);
        
         }

h1 {
    margin: 0;
    padding: 0 0 20px;
    font-size: 18px;
    text-align: center;
    
}

.login p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login input {
    width: 100%;
    margin-bottom: 20px;
}
.login input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}


#pass {
    margin-top: 10;
}

.login input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background-color: #DF2D3C;
    color: #fff;
    border-radius: 20px;
    
}
.login input[type="submit"]:hover
{
    cursor: pointer;
    background: #a75c30;
    color: #fff;
}

.login a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}
.login a:hover
{
    color: #a75c30;
}
